<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Game</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
    <h1>QUIZ GAME</h1>
    <nav>
      <ul>
        <li><a href="#">Admin</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="intro">
      <h2>Welcome to the Quiz Game!</h2>
      <p>Test your knowledge and compete with other players to become the ultimate Quiz Master!</p>
      <button onclick="next()">Play Now</button>
    </section>
  </main>
</body>
<script>
  function next() {
    window.location.href = 'category'
  }
</script>
</html>
